* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ==== navigasi ==== */


nav {
    width: 100%;
    height: 60px;
    background-color: #2B9FDC;
    display: flex;
    position: fixed;
    z-index: 9;
}


/* burger */

.burger {
    width: 26px;
    margin: 3px;
    border: 2px solid rgb(253, 253, 253);
    display: block;
    background-color: rgb(253, 253, 253);
}

.burger-2:hover {
    display: none;
}

#burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    height: 60px;
}

/* logo & title */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80%;
}

.title h2 {
    color: rgb(253, 253, 253);
}

.title .logo {
    background-color: rgb(253, 253, 253);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 12px;
}

/* user */
.user {
    color: white;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==== header ==== */

header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(114, 114, 114);
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 60px;
}

/* user simbol */

.header-user {
    width: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.rounded-header {
    width: 50px;
    height: 50px;
    background-color:rgb(241, 241, 241);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* keterangan user */

.keterangan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 80px;
    margin-left: -18px;
}

.title-keterangan {
    font-weight: 600;
    font-size: 16px;
}

.sub-title h4 {
    font-weight: 500;
    font-size: 16px;
    color : rgb(110, 106, 106);
}

/* === main === */

/* card main */

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-main {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    position: absolute;
    margin-top: 140px;
}

.card {
    width: 90px;
    height: 90px;
    background-color: grey;
    border-radius: 50%;
    margin: 50px 100px;
}

.cards {
    width: 25%;
}

.card-1, .card-2, .card-3, .card-4, .card-5,.card-6,
.card-7, .card-8, .card-9, .card-10, .card-11 {
    display: flex;
    justify-content: center;
}

.card-1 {
    background-color: #2B9FDC;
}

.card-2 {
    background-color: #1b5d81;
}

.card-3 {
    background-color: #f7b80e;
}

.card-4 {
    background-color: #5adf6c;
}

.card-5 {
    background-color: #ce586c;
}

.card-6 {
    background-color: #c92843;
}

.card-7 {
    background-color: #2764e9;
}

.card-8 {
    background-color: #53c0ce;
}

.card-9 {
    background-color: #f70e67;
}

.card-10 {
    background-color: #f7b80e;
}

.card-11 {
    background-color: #a4d13a;
}


/* =================== */

section {
    /* border: 1px solid black; */
}

p.ket {
    color: rgb(134, 134, 134);
    text-align: center;
    margin-top: -35px;
    width: 90px;
    margin-left: 100px;
}




/*  ==== aside ==== */

aside {
    position: absolute;
    top: 840px;
    height: 300px;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.pesan {
    margin: 60px 0 0 4%;
}

.pesan p {
    margin-top: 8px;
}


.tombol {
    display: flex;
    margin-top: 20px;
}

.covid-2, .covid-3 {
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 230);
}

.covid-1 {
    margin-left: 4%;
    background-color: rgb(73, 73, 230);
    color: rgb(241, 241, 241);
}

.covid {
    padding: 12px;
    height: 40px;
    border-radius: 4px;
    border: none;
}



/* ==== footer ==== */
footer {
    position: absolute;
    top: 1143px;
    width: 100%;
    height: 300px;
    background-color: rgb(71, 71, 71);
    color: rgb(238, 238, 238);
    border: 1px solid black;
}

.title-footer {
    text-align: center;
}

.title-footer h2 {
    margin-top: 48px;
}

.title-footer p {
    margin-top: 18px;
}

.media-sosial {
    height: 50px;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}














/* ===media query=== */
@media screen and (max-width: 720px) {
    /* navigasi */
    .container {
        height: 713px;
    }

    nav {
        width: 99.9%;
    }

    /* == burger == */

    #burger {
        width: 20%;
    }

    .burger {
        width: 23px;
        margin: 3px;
        border: 1px solid rgb(253, 253, 253);
    }

    /* == title == */

    .title {
        width: 60%;
    }

    /* == user == */

    .user {
        width: 20%;
    }





    /* header */
    /* == user simbol == */

    .header-user {
        margin: 12px;
    }
    
    .rounded-header {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 23px;
    }
    

    /* == keterangan == */

    .keterangan {
        margin-left: 18px;
    }

    .title-keterangan {
        font-weight: 600;
        font-size: 14px;
    }
    
    .sub-title h4 {
        font-weight: 500;
        font-size: 12px;
    }



    /* === main === */

    main {
        width: 90%;
        display: flex;
        justify-content: center;
        position: absolute;
        border: 1px solid black;
    }

    .card-main {
        display: flex;
        justify-content: center;
        margin-right: 10%;
        align-content: space-between;
    }

    .card {
        width: 30px;
        height: 30px;
    }

    .card-1 img, .card-2 img, .card-3 img, .card-4 img, .card-5 img,.card-6 img,
    .card-7 img, .card-8 img, .card-9 img, .card-10 img, .card-11 img {
        width: 13px;
    }

    .cards {
        width: 25%;
    }

    p.ket {
        width: 30px;
        text-align: center;
        font-size: 10px;
    }
   


    /*  ==== aside ==== */

    aside {
        position: absolute;
        top: 620px;
        height: 200px;
    }

    .pesan {
        margin: 42px 0 0 6%;
    }

    .pesan h2 {
        font-size: 18px;
    }
    
    .pesan p {
        margin-top: 6px;
        font-size: 12px;
    }
    
    .covid-2, .covid-3 {
        margin-left: 2%;
    }
    
    .covid-1 {
        margin-left: 6%;
    }
    
    .covid {
        font-size: 12px;
        padding: 6px;
        height: 30px;
    }

    /* ==== footer ==== */
    footer {
        top: 820px;
        width: 100%;
        height: 160px;
        /* margin: 0; */
        /* position: absolute; */
    }

    .title-footer {
    text-align: center;
    }

    .title-footer h2 {
        margin-top: 32px;
        font-size: 18px;
    }

    .title-footer p {
        margin-top: 6px;
        font-size: 12px;
    }

    img.twitter, img.facebook, img.instagram {
        width: 15px;
    }

    img.youtube {
        width: 20px;
        margin-top: -11px;
    }

    .media-sosial {
        height: 30px;
        margin-top: 30px;
    }

}









































/* ===media query=== */
@media screen and (max-width: 420px) {
    /* === main === */

    main {
        width: 90%;
        display: flex;
        justify-content: center;
        position: absolute;
        border: 1px solid black;
    }

    .card-main {
        display: flex;
        justify-content: center;
        margin-right: 35%;
        align-content: space-between;
    }

    .card {
        width: 30px;
        height: 30px;
    }

    .card-1 img, .card-2 img, .card-3 img, .card-4 img, .card-5 img,.card-6 img,
    .card-7 img, .card-8 img, .card-9 img, .card-10 img, .card-11 img {
        width: 13px;
    }

    .cards {
        width: 25%;
    }

    p.ket {
        width: 30px;
        text-align: center;
        font-size: 10px;
    }
   
    

     /*  ==== aside ==== */

     aside {
        position: absolute;
        top: 620px;
        height: 200px;
    }

    .pesan {
        margin: 42px 0 0 6%;
    }

    .pesan h2 {
        font-size: 18px;
    }
    
    .pesan p {
        margin-top: 6px;
        font-size: 12px;
    }
    
    .covid-2, .covid-3 {
        margin-left: 2%;
    }
    
    .covid-1 {
        margin-left: 6%;
    }
    
    .covid {
        font-size: 12px;
        padding: 6px;
        height: 30px;
    }
  

}
